@import "../abstract/variables";

html {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h2 {
  color: $heading-color;
  font-size: 1.23rem;
  line-height: 1.85rem;
  font-weight: 700;
}

p {
  color: $body-color;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.54rem;
  margin: 1rem 0;
  letter-spacing: 0.12px;
}

.author-info {
  line-height: 1.54rem;

  h3 {
    color: $heading-color;
    font-size: 1rem;
    font-weight: 700;
  }

  span {
    color: $body-color-light;
    font-size: 1rem;
    font-weight: 500;
  }
}

.share-block {
  span {
    text-transform: uppercase;
    color: $body-color-light;
    font-size: 1rem;
    letter-spacing: 5px;
    width: max-content;
    margin-right: -.4rem;
  }

  img {
    width: 1.5rem;
    height: 1.55rem;
  }
}