@import "../abstract/variables";

html {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
}

h2 {
  color: $heading-color;
  font-size: 1.2rem;
  line-height: 1.7rem;
}

p {
  color: $body-color;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin: 1rem 0;
  letter-spacing: 0.12px;
}

.author-info {
  h3 {
    color: $heading-color;
    margin-bottom: .3rem;
    font-size: 1rem;
    font-weight: 700;
  }

  span {
    color: $body-color-light;
    font-size: 1rem;
    font-weight: 500;
  }
}
