* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// variables
$bg-color: #ecf2f8;

// general
html {
    font-size: 13px;
}
body {
  background-color: $bg-color;
  font-family: "Barlow Semi Condensed", sans-serif;
}
main {
    padding: 5.5rem 1.5rem;
}