@import "./base/reset";
@import "./base/typography";
@import "./abstract/variables";
@import "./abstract/mixins";
@import "./components/buttons";

body {
  background-color: $body-bg;
  @include display-flex;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 0 2rem;
  gap: 3rem;
}

main {
  background-color: $card-bg;
  border-radius: $border-radius;
  width: 86%;
}

.article-preview-img {
  width: 100%;
  border-radius: $border-radius $border-radius 0 0;
  height: 43vh;
  object-fit: cover;
}

.card-content {
  padding: 2.5rem 2.7rem 1.5rem;
}

.card-footer {
  @include display-flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.author-info {
  @include display-flex;
  gap: 10px;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

// share block
.share-block {
  display: none;
}

// footer
footer {
  text-align: center;
 
  p {
    margin: 0;
    font-size: .8rem;
    line-height: 1.2rem;
  }

  a {
    text-decoration: none;
    font-weight: 700;
    color: $body-color;
  }
}